
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
}
.top{
    float:left;
    width: 1200px;
    background-color: lightcoral;
    padding: 50px 0 ;
}
h1{
    font-size: 50px;
    text-align: center;
    text-indent: 400px;
    text-transform: uppercase;
    margin:0 0 10px;
}
h2{
    font-size: 25px;
    text-indent: 400px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}
h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.bottom{
    float: left;
    width: 1200px;
}
.left{
    float: left;
    width: 230px;
    text-align: left;
    padding: 50px;
    margin-top: -180px;
    background-color: indianred;
    margin-left: 40px;
    font-size: 18px;
    line-height: 1.6;
}
.right{
    float: right;
    width: 700px;
    margin-right: 40px;
    font-size: 17px;
    line-height: 1.5;
}
.icon{
    width: 30px;
    float: left;
    margin-right: 10px;
}
.avatar{
    width: 200px;
}
.txt{
    line-height: 30px;
    text-align: left;
    margin-left: 10px;
}

